// 主题色更改
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #4fc08d,
    ),
    'success': (
      'base': #8bc34a,
    ),
    'warning': (
      'base': #ffe787,
    ),
    'danger': (
      'base': #7c77b9,
    ),
    'error': (
      'base': #e65d6e,
    ),
    'info': (
      'base': #606266,
    ),
  ),
  $text-color: (
    'primary': #f3f3f3,
    'regular': #606266,
    'secondary': #909399,
  )
);

// 主题
$corsairColor: #4fc08d;
// 辅助
$helpColor: #e26237;
// 成功
$sucColor: #1dc779;
// 警告
$warnColor: #ffb302;
// 价格
$priceColor: #cf4444;
